
﻿@model WebApi_BudgeManagementSystem.ViewModels.AddOwnIncomeViewModel


@{
    ViewBag.Title = "AddOwnIncome";
}

<h2>Add Own Income</h2>


 
@using (Html.BeginForm("AddOwnIncome", "Consume", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        <div class="col-md-10">
            <div>
                @Html.LabelFor(model => model.oinc_name, "Add Own Category", htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.oinc_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.oinc_name, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.uid, new { Value = @Int32.Parse(HttpContext.Current.Session["uid"].ToString()) })
    @Html.HiddenFor(model => model.flag, new { Value = true })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@using (Html.BeginForm("AddOwnIncome", "Consume", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.LabelFor(model => model.inc_amount, "Select Category", new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.DropDownListFor(model => model.oinc_name, new SelectList(Model.categories), "Select Category", new { @class = "form-control" })

    <br/>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.inc_amount, "Add Amount", new { htmlAttributes = new { @class = "form-control" } })
            <br>
            @Html.EditorFor(model => model.inc_amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.inc_amount, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.uid, new { Value = @Int32.Parse(HttpContext.Current.Session["uid"].ToString()) })
    @Html.HiddenFor(model => model.flag, new { Value = false })


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Income" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
