@model IEnumerable<WebApi_BudgeManagementSystem.Models.trasaction>

@{
    ViewBag.Title = "ShowTransactions";
}

<h2>Show Transactions</h2>
<h3>@HttpContext.Current.Session["fullname"].ToString()</h3>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Date
            @*@Html.DisplayNameFor(model => model.tdate)*@
        </th>
        <th>
            Time
            @*@Html.DisplayNameFor(model => model.ttime)*@
        </th>
        <th>
            Transaction Category
            @*@Html.DisplayNameFor(model => model.t_cat)*@
        </th>
        <th>
            Total Income
            @*@Html.DisplayNameFor(model => model.tot_inc)*@
        </th>
        <th>
            Total Expense
            @*@Html.DisplayNameFor(model => model.tot_exp)*@
        </th>
        
         
    </tr>

@foreach (var item in Model) {
    if (item.uid == Int32.Parse(HttpContext.Current.Session["uid"].ToString())) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ttime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_cat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tot_inc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tot_exp)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tid }) |
            @Html.ActionLink("Details", "Details", new { id=item.tid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tid })
        </td>*@
    </tr>
    }
}

</table>
